

/* Container styling */

  .ultra-regular {
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    color: #f3f4f6;
  }
  

.bg-gray-800 {
    position: sticky; 
    top: 0;
    left: 0; 
    right: 0; 
    background-color: #2d3748; 
    padding: 1rem; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
  }

.container {
  background-color: #1f2937; 
  padding: 2rem;
  box-shadow: 0px 4px 15px rgba(168, 23, 23, 0.1); 
  position: relative;
  margin-top: 0.3vh;
  border-radius: 8px; 
}

.task-form {
  display: flex;
  align-items: center; 
  width: 100%; 
  gap: 10px; 
  padding-bottom: 0.75rem;
}

.task-input {
  flex-grow: 1; 
  background-color: #343535; 
  border: 1px solid #f7f8f8; 
  color: #f9fafc; 
  padding: 0.75rem;
  border-radius: 0.375rem; 
}


form input::placeholder {
  color: #adb5bd; 
}

form button {
  background-color: #4CAF50; 
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1.5rem;
}

form button:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  background-color:  #317224; 
}

.bg-blue-500:hover {
  background-color: #3d68c5; 
}

.bg-blue-500:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  background-color:  #3d68c5; 
}

.bg-red-500:hover {
  background-color: #f32323; 
}
.bg-red-500:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  background-color:  #f32323; 
}
/* Task item styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #2d3748; 
  color: #f9fafc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #4b5566; 
}

li span {
  margin-left: 10px; 
  color: #f9fafc; 
  flex-grow: 1; 
  word-wrap: break-word; 
}

.icon-container {
  display: flex; 
  gap: 10px; 
  margin-left: auto; 
}

.completion-btn i {
  color: #4CAF50; 
}
.completed {
  text-decoration: line-through;
}



.task-item {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.task-item.editing {
  flex-direction: column; 
  align-items: flex-start; 
}

 .edit-task-form {
  margin-top: 1rem; 
  width: 100%; 
} 

.task-content {
  display: flex;
  flex-grow: 1;
  
}

.task-actions {
  display: flex;
  flex-basis: 0; 
 
}

.edit-task .material-icons-outlined,
.delete-task .material-icons-round {
  color: #868e96;
}

.edit-task:hover .material-icons-outlined {
  color: #4CAF50;
}

.delete-task:hover .material-icons-round {
  color: #F44336;
}


.edit-task-form {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  width: 100%; 
  margin-top: 1rem; 
}


.edit-task-form input {
  width: 100%; 
  background-color: #353435;
  color: #f9fafc;
  padding: 0.75rem;
  border-radius: 0.375rem;
}

.edit-task-form button {
  margin-top: 0.5rem;
}


.edit-task-form-buttons {
  display: flex;
  flex-direction: row; 
  gap: .5ch; 
  margin-top: 0.5rem;
}

.edit-task-form button {
  font-size: 2ch;
}
